
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        /*canvas * {
            padding: 0;
            margin: 0;
        }

        canvas {
            display: block;
            background: black;
        }*/

        /*--------------------------------------*/
        .input_padding {
            padding-top: 50px;
        }

        .valueinfo {
            text-align: left;
            color: rgba(0, 0, 0, 0.7);
        }

        input,select {
            height: 30px;
            width: 100%;
        }

        html {
            height: 100%;
        }

        .input_content {
            padding-top: 50px;
            text-align: center;
            padding-left: 170px;
            padding-right: 170px;
        }

        @@media screen and (max-width: 767px) {
            .input_content {
                padding-left: unset;
                padding-right: unset;
            }

            .row > .col-sm-6 {
                padding-top: 15px;
            }

            .input_padding {
                padding-top: unset;
            }

            .input_content {
                padding-top: 50px;
            }
        }
    </style>

    @*<canvas id="c" style="width: 100%;height:200px;"></canvas>*@
    <div class="head_title">
        Requsets
    </div>
    <div class="row input_content">
        <form>
            <div class="row">
                <div class="col-sm-6">
                    <div class="valueinfo">ชื่อ-นามสกุล</div>
                    <input type="text" id="name" class="input">
                </div>
                <div class="col-sm-6">
                    <div class="valueinfo">ประเภทการร้องขอ</div>
                    <select class="input">
                        <option id="needhelp" disabled="disabled" selected="selected">กรุณาเลือกการร้องขอ</option>
                        <option value="ข้อมูลที่ได้">เลือกข้อมูล</option>
                        <option value="ข้อมูลที่">เลือกข้อมูล</option>
                        <option value="ข้อมูลที่">เลือกข้อมูล</option>
                        <option value="ข้อมูลที่">เลือกข้อมูล</option>
                        <option value="ข้อมูลที่">เลือกข้อมูล</option>
                        <option value="ข้อมูลที่">เลือกข้อมูล</option>
                    </select>
                </div>
            </div>
            <div class="row input_padding">
                <div class="col-sm-6">
                    <div class="valueinfo">เบอร์โทร</div>
                    <input type="text" min="8" max="10" id="phone" class="input" onkeypress="return event.charCode >= 48 && event.charCode <= 57" >
                </div>
                <div class="col-sm-6">
                    <div class="valueinfo">อีเมล</div>
                    <input type="email" id="email" class="input">
                </div>
            </div>
            <div class="row" style="padding-top:50px;">
                <div class="valueinfo" style="padding-left:16px;">รายละเอียด</div>
                <textarea style="width:97%;height:100px;" id="detail"></textarea>
            </div>
            <div style="padding-top:40px;">
                <button class="button" id="send"> ส่งข้อมูล </button>
            </div>
        </form>
        <button class="button" id="TT"> ส่งข้อมูล </button>
        <div id="test">ข้อความอยู่นี้ </div>
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.js"></script>

<script>
    $(document).ready(function () {
        $("#TT").click(function () {
            setfeedback();
        });
    });
    function setfeedback() {
        var model = {
            Name: $('#name').val(),
            Phone: $('#needhelp').val(),
            Email: $('#phone').val(),
            Message: $('#email').val(),
            Message: $('#detail').val()
        };
        console.log($('#MessageForm').serialize());
        console.log(model);
        jQuery.ajax({
            type: "POST",
            url: "@Url.Action("receiveMessage", "Requests")",
            dataType: "json",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(model),
        success: function (response) {
            if (response != null && response.success) {
                swal("เรียบร้อย", "เราจะติดต่อกลับภายใน 1 วันทำการ", "success");
            } else {
                swal("ไม่สำเร็จ", "กรุณาระบุข้อมูลให้ถูกต้อง ครบถ้วน", "error");
            }
        },
        failure: function (errMsg) {
            swal("ยกเลิก", "กรุณาระบุข้อมูลให้ถูกต้อง, ระบุข้อมูลให้ครบ", "error");
        }
    });
    }
</script>

@*//////////////////////////////////////////////////*@
@*<script>
    ; (function () {

        'use strict';

        var c = document.getElementById('c');
        var ctx = c.getContext('2d');
        var w = c.width = window.innerWidth;
        var h = c.height = window.innerHeight;
        var itr = 100;
        var s = 30;
        var off = 0;

        requestAnimationFrame(function loop() {
            requestAnimationFrame(loop);

            ctx.fillStyle = 'rgba(0, 0, 0, 0.04)';
            ctx.fillRect(0, 0, w, h);

            off += 0.5;

            for (var i = 0; i < itr; i++) {

                var x = Math.random() * w;
                var y = Math.random() * h;
                var gx = Math.floor(x / s) * s;
                var gy = Math.floor(y / s) * s;
                var scl = Math.random();
                var c = (gx + gy) / (w + h);

                ctx.save();
                ctx.translate(gx, gy);
                ctx.rotate(Math.random() * Math.PI * 2);
                ctx.scale(scl, scl);

                ctx.beginPath();
                ctx.fillStyle = 'hsl(' + (c * 200 + off) + ', 100%, 50%)';
                ctx.arc(0, 0, s / 2, 0.25 * Math.PI, 1.25 * Math.PI);
                ctx.fill();

                ctx.beginPath();
                ctx.arc(0, 0, s / 2, 0.75 * Math.PI, 1.75 * Math.PI);
                ctx.fill();

                ctx.restore();
            }
        });




    })();
</script>*@