
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //AjaxOptions options = new AjaxOptions {
    //    UpdateTargetId = "requestsResult",
    //    InsertionMode = InsertionMode.Replace
    //};
}


    <style>
      
        .input_padding {
            padding-top: 50px;
        }

        .valueinfo {
            text-align: left;
            color: rgba(0, 0, 0, 0.7);
        }

        input,select {
            height: 30px;
            width: 100%;
        }

        html {
            height: 100%;
        }

        .input_content {
            padding-top: 50px;
            text-align: center;
            padding-left: 170px;
            padding-right: 170px;
        }

        @@media screen and (max-width: 767px) {
            .input_content {
                padding-left: unset;
                padding-right: unset;
            }

            .row > .col-sm-6 {
                padding-top: 15px;
            }

            .input_padding {
                padding-top: unset;
            }

            .input_content {
                padding-top: 50px;
            }
        }
    </style>

    <div class="head_title">
        Requsets
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


@*@using (Ajax.BeginForm("RequestsPartial", options)) {
    <div class="row input_content">
        <div style="text-align:center">
            @Html.TextBox("keyword", null, new { type = "number" })
            <div style="text-align:center; padding-top:20px;">
                <button class="button" type="submit">ค้นหา</button>
            </div>
        </div>

    </div>
}

<div id="requestsResult">
    @Html.Action("RequestsPartial", new { keyword = "" })
</div>*@

@Html.Partial("RequestsPartial")

@*@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}*@


