@using SRMforCustomer.Models

@*@model SRMforCustomer.Models.Requests*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ticket Detail Index</h2>

@if (@ViewBag.Message != null) {
    string message = ViewBag.Message;
    <h3>@Html.ActionLink(message, "", "Search")</h3>
} else {
    <h3>TicketID : @ViewBag.testTicket</h3>


    //เขียน layout ในนี้เลย





}
