@using SRMforCustomer.Models

@model SRMforCustomer.Models.RequestsModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ticket Detail Index</h2>

<h3>@ViewBag.Message</h3>



