
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Requests.css" rel="stylesheet" />
<div style="text-align:center" class="head_title">
    <img src="https://juno.tks.co.th//SRM/Content/Images/logo-header.png">
</div>
<div class="input_content" style="padding-top:35px;
">
    <div>
<input class="form-control" type="text">
        </div>
    <div>
        <input class="form-control" type="password" style="margin-top:25px;">
    <div>
    ​</div>
    <button class="button" style="margin-top:25px;">Login</button>
    </div>
    @*---------------- test ----------------*@

    <div>
        @Html.ActionLink("TEST_LOGIN", "LoginStaff", "RequestsStaff")
    </div>
    
    @*---------------- test ----------------*@
</div>
