@using SRMforCustomer.Models
@model SRMforCustomer.Models.Requests
@{
}
<link href="~/Content/Requests.css" rel="stylesheet" />
<div style="text-align:center" class="head_title">
    <img src="https://juno.tks.co.th//SRM/Content/Images/logo-header.png">
</div>
<div class="input_content" style="padding-top:35px;">
    <div>
        <input class="form-control" type="text">
    </div>

    <div>
        <input class="form-control" type="password" style="margin-top:25px;">
    </div>
    @using (Html.BeginForm("LoginStaff", "RequestsStaff", FormMethod.Post)) {
        <div class="card">
            <button class="button" style="margin-top:25px;">Login</button>
        </div>
    }
</div>
