
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Requests.css" rel="stylesheet" />
<div class="head_title">LoginStaff</div>

<div style="text-align:center">
    <img src="https://juno.tks.co.th//SRM/Content/Images/logo-header.png">
</div>
<div class="input_content" style="background-color:#47803C;padding:100px 170px">
    <div>
<input class="form-control" type="text">
        </div>
    <div>
        <input class="form-control" type="password" style="margin-top:25px;">
    </div>
    
    @*---------------- test ----------------*@

    <div>
        
        @*@Html.Action(,"LoginStaff", "RequestsStaff")"*@
        @*@Html.Action("LoginStaff", new { keyword = "" })*@
        @Html.ActionLink("TEST_LOGIN", "LoginStaff", "RequestsStaff")
    </div>
    
    @*---------------- test ----------------*@

</div>
