
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Requests.css" rel="stylesheet" />
<div class="head_title">LoginStaff</div>

<div class="input_content">
<input class="form-control" type="text">
    </div>
