
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-shadow: 0px 0px 34px 5px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 34px 5px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 34px 5px rgba(0,0,0,0.31);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.head_title {
 font-size:55px;
 padding-top:40px;
 text-align:center
}
.row {
    margin-right: unset;
    margin-left: unset;
}
 .button:hover{
 -webkit-box-shadow: 0px 10px 21px -1px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 10px 21px -1px rgba(0,0,0,0.39);
box-shadow: 0px 10px 21px -1px rgba(0,0,0,0.39);

 }
 .button {
    background-color: #4CAF50; /* Green */
    border-radius:5px;
    border:none;
    color: white;
    height:50px;
    width:95%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
 textarea {
    outline:none;
    border-radius:5px;
}
input {
   color:rgba(0, 0, 0, 0.7);
   outline:none;
   border-radius:5px;
}
input:hover {
   color:rgba(0, 0, 0, 1);
}