@*@model List<SRMforCustomer.Models.RequestsModel>*@
<link href="~/Content/Search.css" rel="stylesheet" />

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    AjaxOptions options = new AjaxOptions {
        UpdateTargetId = "searchResult",
        InsertionMode = InsertionMode.Replace
    };
}
<div class="head_title">
    Search
    </div>
@*@if (Model != null) {
        foreach (var req in Model) {
            <h2>@req.ReTopicName</h2>
        }
    } else if (Model?.Count == 0) {
        <h2>โปรตรวจสอบ Ticket ของท่าน</h2>
    }*@
@using (Ajax.BeginForm("ResultSearchPartial", options)) {
    <div class="row" style="padding-top:35px;">
        <div id="custom-search-input">
            <div class="input-group">
                @Html.TextBox("keyword", "", new { onKeyUp = "validate()", @class = "form-control", placeholder = "Search", oninput = @"this.value = this.value.replace(/^\s+/, '');", style = "border-radius: 4px;", maxlength = "7" , minlength = "7" })
                <div class="input-group-btn">
                    <button class="btn-danger" type="submit" style="outline:none">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
}
@*<script>
        function validate() {
            console.log("test");
            if (/[0-9]{7,7}$/.test($("input[name=keyword]").val())) {
                //submit
                //console.log("Success");
                document.getElementById("hintSearch").innerHTML = "Pass";
            } else {
                //console.log("Failue");
                document.getElementById("hintSearch").innerHTML = "โปรดป้อนเฉพาะตัวเลขและ มีจำนวน 7หลัก";

            }
        }
    </script>*@

@*@using (Html.BeginForm("Create", "Search")) {
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
        </div>
    }*@
        <div id="searchResult">
            @Html.Action("ResultSearchPartial", new { keyword = "" })
        </div>

        @section scripts{
            <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        }
